<!--

	Version unter Nutzung von "nested routing"

-->
<section id="emberapp">

	<script type="text/x-handlebars" data-template-name="application">
        <nav>
            {{#linkTo "people"}}Personen anzeigen{{/linkTo}}
            {{#linkTo "page1"}}Page 1 anzeige{{/linkTo}}
            {{#linkTo "page2"}}Page 2 anzeige{{/linkTo}}

        </nav>

        <div id="main-content">
            {{outlet}}
        </div>

	</script>




	<script type="text/x-handlebars" data-template-name="people">
		<div id="people">
			<H3>Personen Liste</H3>
			<ul>
				{{#each  person in controller}}
					<li>{{#linkTo "person" person}} {{person.firstName}} {{person.lastName}} {{/linkTo}}</li>
				{{/each}}
			</ul>
		</div>
        <div>
            {{outlet}}

        </div>
	</script>


	<script type="text/x-handlebars" data-template-name="person">
		<div id="person">
			<H3>Person View</H3>

			<dl>
	 			<dt>Vorname</dt>
	 			<dd>{{firstName}}</dd>
	 			<dt>Nachname</dt>
	 			<dd>{{lastName}}</dd>
			</dl>
		</div>
	</script>

    <script type="text/x-handlebars" data-template-name="page1">
        <H4>Page 1 Template</H4>
    </script>

	<script type="text/x-handlebars" data-template-name="page2">
		<H4>Page 2 Template</H4>
	</script>




</section>